/* Mobile */

@media (width < 1230px) {

    .back-button {
        background-color: rgb(var(--color-black) / 0.53);
        color: rgb(var(--color-white));
        backdrop-filter: blur(10px);
        border-radius: 50%;
    }

}