/* Base */

.timeline {

}

/* Tabs */

.timeline__tabs {
    margin: 0;
    padding: 0 12px;
    list-style: none;
    display: flex;
    gap: 10px;

}

/* Tabs button */

.timeline__tabs-button {
    margin: 0;
    padding: 8px 10px 12px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: var(--color-text-tertiary);
}

.timeline__tabs-button[aria-selected='true'] {
    border-color: var(--color-text-primary);
}

/* Section */

.timeline__section {
    
}

/* No content */

.timeline__no-content {
    display: grid;
    place-items: center;
    padding: 40px 36px;
}