/* Base */

/* Tabs */

.timeline__tabs {
    margin: 0;
    padding: 0 12px;
    list-style: none;
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        display: none;
    }

}

/* Tabs button */

.timeline__tabs-button {
    margin: 0;
    padding: 8px 10px 12px;
    border: none;
    border-bottom: 3px solid transparent;
    white-space: nowrap;
    background-color: transparent;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: var(--color-text-tertiary);
}

.timeline__tabs-button[aria-selected='true'] {
    border-color: var(--color-text-primary);
}

/* No content */

.timeline__no-content {
    display: grid;
    row-gap: 20px;
    place-items: center;
    padding: 40px 36px;
    color: rgb(var(--color-middle));
}

/* No content icon */

.timeline__no-content-icon {
    color: rgb(var(--color-light));
}